*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;

}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    height: 40px;
    width: 40px;
    background-color: rgb(252, 252, 252);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1s;
}
h1{
    font-size: 10vw;
    font-weight: 900;
}