*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;

}
#card{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
#storiyan{
    height: 120px;
    width: 100%;
    /* background-color: red; */
    padding: 15px;
    border-bottom: 1px solid #555;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;

}
.story{
    /* background-color: blue; */
    border: 3px solid red;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    
    
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width:100%;
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;

}